html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

/* 화면 중앙 정렬용 래퍼 */
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 세로 화면 기준 무대 */
.stage {
  position: relative;
  height: 100%;
  aspect-ratio: 9 / 16;
}

/* 메인 배경 이미지 */
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 0;
}

/* 바나나 버튼 */
#banana {
  position: absolute;
  top: 18%;
  left: 42%;
  width: 78%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
  display: block;
  pointer-events: auto;
}

/* 2page */
/* 3페이지로 넘어가는 버튼 */
#nextArrow {
  position: absolute;
  top: 4%;
  right: 10%;
  width: 15%;
  cursor: pointer;
  z-index: 2;
}

/* 3page */
/* 3페이지 바나나 고르기 */
.banana3 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.banana3 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 110px;
  max-height: 110px;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.banana3.selected {
  transform: scale(1.15);
}

.banana3 {
  width: 100%;
  height: 100%;
  object-fit: contain;   /* 비율 유지하며 박스 안에 맞춤 */
  cursor: pointer;
}

/* PC */
@media (min-width: 769px) {
  .banana3 {
    max-width: 110px;
    max-height: 110px;
  }
}

/* 모바일 */
@media (max-width: 768px) {
  .banana3 {
    width: 18vw;
    height: 18vw;
    max-width: none;
    max-height: none;
  }
}

@media (max-width: 768px) {
  .banana-grid {
    width: 90%;
    height: 52%;
    gap: 8%;
  }
}

