html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 스크롤 제거 */
}

.container {
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

}
#banana {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  cursor: pointer;
}

.stage {
  height: 100%;
  aspect-ratio: 9 / 16; /* 배경 이미지 비율 */
  background-image: url("image/main.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

