/**/
@font-face {
  font-family: "Galmuri9";
  src: url("font/Galmuri9.ttf") format("truetype");
}

html {
  color-scheme: light;
}

body {
  background: #ffffff;
}

/**/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

/* 화면 중앙 정렬용 래퍼 */
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 세로 화면 기준 무대 */
.stage {
  position: relative;
  height: 100%;
  aspect-ratio: 9 / 16;
}

/* 메인 배경 이미지 */
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 0;
}

/* 바나나 버튼 */
#banana {
  position: absolute;
  top: 18%;
  left: 42%;
  width: 78%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
  display: block;
  pointer-events: auto;
}

/* 2page */
/* 3페이지로 넘어가는 버튼 */
#nextArrow {
  position: absolute;
  top: 4%;
  right: 10%;
  width: 15%;
  cursor: pointer;
  z-index: 2;
}


/* ===== PAGE 3 ===== */

.stage.page3 {
  position: relative;
  height: 100%;
}

/* 모든 바나나 공통 */
.stage.page3 .bananaPick {
  position: absolute;
  width: 15%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
  transition: opacity 0.35s ease;
}

/* 원본 이미지가 큰 2,3,5번 바나나 보정 */
.stage.page3 .bananaPick.small {
  transform: translate(-50%, -50%) scale(0.75);
}

/* 클릭 시 서서히 사라지게 */
.stage.page3 .bananaPick.picked,
.stage.page3 .bananaPick.small.picked {
  opacity: 0;
  pointer-events: none;
}

/* ===== PAGE 4 ===== */

.stage.page4 {
  position: relative;
  height: 100%;
  aspect-ratio: 9 / 16;
}

/* 배경 */
.stage.page4 .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 0;
}

/* 운세 텍스트를 담는 영역 (핑크 똥 이미지 중앙) */
.stage.page4 .poopBox {
  position: absolute;
  top: 38%;
  left: 50%;
  width: 70%;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
}

/* 운세 텍스트 스타일 */
.stage.page4 #fortuneText {
  font-family: 'Galmuri9';
  font-size: 10pt;
  line-height: 18pt;
  color: #381b05;
}
