html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 스크롤 제거 */
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("image/main.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* 이미지 비율 유지 */
  position: relative;
}
#banana {
  position: absolute;
  top: 6%;              /* 필요 시 숫자만 조절 */
  left: 30%;
  transform: translateX(-50%);
  width: 22%;
  cursor: pointer;
}

