html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stage {
  height: 100%;
  aspect-ratio: 9 / 16;
  background-image: url("image/main.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

#banana {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 70%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}


